.socials {

    &__list {

        @include flex(flex, null, center);
        gap: 10px;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            gap: 10px;
            @include flex(flex, space-around, center)
        }
    }

    &__item {

        @include flex(flex, center, center);
        @include transition (fill, background-color);

        width: 44px;
        height: 44px;
        background-color: var(--footer-socials-color);
        border-radius: 50%;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        fill: rgba(175, 177, 184, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--white-color);
        }
    }
}