.features {

    &__list {
        display: block;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            gap: 30px;
        }
    }

    &__item {
        text-align: center;
        max-width: 450px;
        margin: 0 auto 30px auto;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
            display: flex;
            flex-direction: column;
            //align-items: flex-start;
            justify-content: center;
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
    }

    &__icon {

        height: 120px;
        background-color: var(--secondary-bg-color);
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            // @include flex(flex, center, center);
            width: 270px;
        }
    }

    &__title {

        font-size: 14px;
        line-height: calc(16 / 14);
        color: var(--heading-color);
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 481px) and (min-width: 1199px){
            text-align: left;   
        }



    }

    &__description {

        font-size: 14px;
        line-height: calc(24 / 14);
        font-weight: 400;
        color: var(--main-color);
        letter-spacing: 0.03em;
        margin-right: 30px;
        text-align: left;

        &:last-child {
            margin-right: 0;
        }
    }
}