.footer {


    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

    & .address__link:hover,
    & .address__link:focus {

        color: var(--accent-color);
    }

    &__container {
        max-width: 1170px; //??
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            @include flex(flex, null, baseline);

            flex-direction: row;
            //justify-content: space-between; //??
            //added 
            //display: flex;
            //align-items: baseline;
        }
    }

    &__contacts {

        margin-right: 0;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-right: 165px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 70px;
            justify-content: space-between;
        }
    }

    &__socials {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;


        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
            margin-right: auto;
        }
    }

    &__title {

        display: flex;
        justify-content: center;
        font-size: 14px;
        text-transform: uppercase;
        line-height: calc(16.41 / 14);
        color: var(--white-color);
        font-weight: 700;
        letter-spacing: 3%;
        margin-bottom: 20px;



        @media screen and (min-width: 1200px) {
            display: block;
        }

    }

    .footer__contacts--wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        @media screen and (min-width: 768px) {
            flex-direction: row;

        }

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between; //????
            //margin-right: auto;

        }

    }

    .footer__icon {

        fill: var(--white-color);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }
}

.address {

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        margin: 0;

        @media screen and (min-width: 1200px) {
            display: block;
        }
    }

    &__link {

        @include transition (color);

        display: flex;

        font-size: 14px;
        line-height: calc(24 / 14);
        color: var(--address-color);
        letter-spacing: 0.03em;
        font-style: normal;

        //transition-property: color;
        //transition-duration: 250ms;
        //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1200px) {
            display: block;
        }
    }

    &__item {
        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }


    }

    &__text {

        margin-bottom: 9px;
        justify-content: center;
        color: var(--white-color);
        font-style: normal;

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }

    }

    &__contact {


        @include transition (color);

        margin-bottom: 9px;
        font-size: 14px;
        line-height: calc(24 / 14);
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;

        //transition-property: color;
        //transition-duration: 250ms;
        //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: flex-start;
            margin-left: auto;
        }
    }
}