.header {

    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--line-color);

    &__link {

        @include transition (color, fill);

        color: var(--accent-color);
        fill: currentColor;
    }

    &__container {
        @include flex(flex, null, null);

        @media screen and (max-width: 767px) {
            height: 60px;
            align-items: center;
            padding: 0 15px;
            max-width: 450px;
        }
    }
}