.header {

    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--line-color);

    &>.link,
    &>.header__contacts-icon {
        
        color: var(--accent-color);
        fill: currentColor;
        transition: color, fill 2500s cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link:hover,
    & .link:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }

}