.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--banner-bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/sm-hero-img@1x.jpg');

    height: 400px;

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/md-hero-img@1x.jpg') background-repeat: no-repeat;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/sm-hero-img@2x.jpg');

    }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/md-hero-img@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/md-hero-img@2x.jpg');
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1199px) {
        background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/lg-hero-img@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/lg-hero-img@2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
        padding: 200px 0;
        max-width: 1600px;
        margin: 0 auto;
        background-image: linear-gradient(var(--banner-gradient), var(--banner-gradient)), url('../img/hero/lg-hero-img@1x.jpg');
    }

    &__title {
        font-size: 26px;
        line-height: calc(42 / 26);
        color: var(--white-color);
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;


        @media screen and (max-width: 767px) {
            font-size: 6vw;
            // width: 360px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 360px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: calc(60 / 44);
            width: 696px;
        }
    }

    &__button {

        @include transition (color);

        background-color: var(--btn-active-color);
        font-family: var(--main-font);
        font-weight: 700;
        letter-spacing: 0.06em;
        font-size: 15px; //fz 16px must be checked!!!!
        line-height: calc(30 / 16);
        color: var(--white-color);
        border-style: none;
        cursor: pointer;
        padding: 10px 24px;
        height: 50;
        width: 200px;

        @media screen and (min-width: 1200px) {
            width: 216px;
            padding: 10px 28px;
            font-size: 16px;
        }

        &:active,
        &:hover,
        &:focus {
            background-color: var(--btn-accent-color);
        }
    }
}